.checkmark-error {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: block;
	stroke-width: 2;
	stroke: #ef4444;
	strokeMiterlimit: 10;
	box-shadow: inset 0px 0px 0px #ef4444;
	animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
	position:relative;
	top: 5px;
	right: 5px;
 margin: 0 auto;
}

.checkmark__circle-error {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	strokeMiterlimit: 10;
	stroke: #ef4444;
	fill: #fff;
	animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;

}
